[submodule "WinHttpRequest"]
	path = WinHttpRequest
	url = git://github.com/infogulch/WinHttpRequest.git
[submodule "Map"]
	path = Map
	url = git://github.com/infogulch/Map.git
[submodule "AsyncHttp"]
	path = AsyncHttp
	url = git://github.com/infogulch/AsyncHttp.git
[submodule "AutoHotkey-StdLib"]
	path = AutoHotkey-StdLib
	url = git://github.com/infogulch/AutoHotkey-StdLib.git
[submodule "AutoHotkey-Scripts"]
	path = AutoHotkey-Scripts
	url = git://github.com/polyethene/AutoHotkey-Scripts.git
[submodule "Zip"]
	path = Zip
	url = git://github.com/infogulch/Zip.git
[submodule "LSON"]
	path = LSON
	url = git://github.com/infogulch/LSON.git
[submodule "CGUI"]
	path = CGUI
	url = git://github.com/ChrisS85/CGUI.git
[submodule "WorkerThread"]
	path = WorkerThread
	url = git://github.com/ChrisS85/WorkerThread.git
[submodule "AHK-DB"]
	path = AHK-DB
	url = git://github.com/Uberi/AHK-DB.git
[submodule "AHKs"]
	path = AHKs
	url = git://github.com/camerb/AHKs.git
[submodule "AHKLink"]
	path = AHKLink
	url = git://github.com/nimdahk/AHKLink.git
[submodule "COM-Classes"]
	path = COM-Classes
	url = git://github.com/maul-esel/COM-Classes.git
[submodule "FormsFramework"]
	path = FormsFramework
	url = git://github.com/maul-esel/FormsFramework.git
[submodule "ITaskbarList"]
	path = ITaskbarList
	url = git://github.com/maul-esel/ITaskbarList.git
[submodule "AeroThumbnail"]
	path = AeroThumbnail
	url = git://github.com/maul-esel/AeroThumbnail.git
[submodule "AHK_cTable"]
	path = AHK_cTable
	url = git://github.com/hoppfrosch/AHK_cTable.git
[submodule "_Struct"]
	path = _Struct
	url = git://github.com/HotKeyIt/_Struct.git
[submodule "cURL-Wrapper"]
	path = cURL-Wrapper
	url = git://github.com/RaptorX/cURL-Wrapper.git
[submodule "Raydium-AHK"]
	path = Raydium-AHK
	url = git://github.com/Uberi/Raydium-AHK.git
[submodule "ImportTypeLib"]
	path = ImportTypeLib
	url = git://github.com/maul-esel/ImportTypeLib.git
[submodule "ahk2-bigint"]
	path = ahk2-bigint
	url = git://github.com/infogulch/ahk2-bigint.git
[submodule "CaseSensitiveObject"]
	path = CaseSensitiveObject
	url = git://github.com/infogulch/CaseSensitiveObject.git
[submodule "ahk-OpenGL"]
	path = ahk-OpenGL
	url = git://github.com/infogulch/ahk-OpenGL.git
[submodule "AHK-Util-Funcs"]
	path = AHK-Util-Funcs
	url = git://github.com/maul-esel/AHK-Util-Funcs.git
[submodule "scintilla-wrapper"]
	path = scintilla-wrapper
	url = https://github.com/RaptorX/scintilla-wrapper.git
[submodule "ahkDBA"]
	path = ahkDBA
	url = https://github.com/IsNull/ahkDBA.git
[submodule "Fraction.ahk"]
	path = Fraction.ahk
	url = https://github.com/Uberi/Fraction.ahk.git
[submodule "Canvas-AHK"]
	path = Canvas-AHK
	url = https://github.com/Uberi/Canvas-AHK.git
[submodule "Parallelist"]
	path = Parallelist
	url = https://github.com/Uberi/Parallelist.git
[submodule "ALD.ahk"]
	path = ALD.ahk
	url = https://github.com/Library-Distribution/ALD.ahk.git
[submodule "AHK_cGist"]
	path = AHK_cGist
	url = https://github.com/hoppfrosch/AHK_cGist.git
[submodule "ahk_library"]
	path = ahk_library
	url = https://github.com/lordkrandel/ahk_library.git
[submodule "FF_COM"]
	path = FF_COM
	url = https://github.com/TLMcode/FF_COM.git
[submodule "MasterFocus-AutoHotkey"]
	path = MasterFocus-AutoHotkey
	url = https://github.com/MasterFocus/AutoHotkey.git
[submodule "Avis-Autohotkey-Repo"]
	path = Avis-Autohotkey-Repo
	url = https://github.com/avi-aryan/Avis-Autohotkey-Repo.git
[submodule "ahkzmq"]
	path = ahkzmq
	url = https://github.com/tinku99/ahkzmq.git
[submodule "LibCon.ahk"]
	path = LibCon.ahk
	url = https://github.com/joedf/LibCon.ahk.git
[submodule "AHK-Lib-Table"]
	path = AHK-Lib-Table
	url = https://github.com/Jim-VxE/AHK-Lib-Table.git
[submodule "AHK-Lib-ADOSQL"]
	path = AHK-Lib-ADOSQL
	url = https://github.com/Jim-VxE/AHK-Lib-ADOSQL.git
[submodule "AHK-Lib-JSON_ToObj"]
	path = AHK-Lib-JSON_ToObj
	url = https://github.com/Jim-VxE/AHK-Lib-JSON_ToObj.git
[submodule "ObjCSV"]
	path = ObjCSV
	url = https://github.com/JnLlnd/ObjCSV.git
[submodule "ahkoop"]
	path = ahkoop
	url = https://github.com/fincs/ahkoop.git
[submodule "AFC"]
	path = AFC
	url = https://github.com/fincs/AFC.git
[submodule "dbgp"]
	path = dbgp
	url = https://github.com/Lexikos/dbgp.git
[submodule "ahk-eval"]
	path = ahk-eval
	url = https://github.com/fincs/ahk-eval.git
[submodule "HD_EX"]
	path = HD_EX
	url = https://github.com/AHK-just-me/HD_EX.git
[submodule "TC_EX"]
	path = TC_EX
	url = https://github.com/AHK-just-me/TC_EX.git
[submodule "IL_EX"]
	path = IL_EX
	url = https://github.com/AHK-just-me/IL_EX.git
[submodule "Class_SQLiteDB"]
	path = Class_SQLiteDB
	url = https://github.com/AHK-just-me/Class_SQLiteDB.git
[submodule "LV_EX"]
	path = LV_EX
	url = https://github.com/AHK-just-me/LV_EX.git
[submodule "Class_LV_Colors"]
	path = Class_LV_Colors
	url = https://github.com/AHK-just-me/Class_LV_Colors.git
[submodule "Class_ImageButton"]
	path = Class_ImageButton
	url = https://github.com/AHK-just-me/Class_ImageButton.git
[submodule "Class_LV_InCellEdit"]
	path = Class_LV_InCellEdit
	url = https://github.com/AHK-just-me/Class_LV_InCellEdit.git
[submodule "Class_RichEdit"]
	path = Class_RichEdit
	url = https://github.com/AHK-just-me/Class_RichEdit.git
[submodule "AutoHotkey-ElementTree"]
	path = AutoHotkey-ElementTree
	url = https://github.com/cocobelgica/AutoHotkey-ElementTree.git
[submodule "AutoHotkey-Menu"]
	path = AutoHotkey-Menu
	url = https://github.com/cocobelgica/AutoHotkey-Menu.git
[submodule "AutoHotkey-PS-Control"]
	path = AutoHotkey-PS-Control
	url = https://github.com/cocobelgica/AutoHotkey-PS-Control.git
[submodule "AutoHotkey-IPC"]
	path = AutoHotkey-IPC
	url = https://github.com/cocobelgica/AutoHotkey-IPC.git
[submodule "AutoHotkey-XConfig"]
	path = AutoHotkey-XConfig
	url = https://github.com/cocobelgica/AutoHotkey-XConfig.git
[submodule "AutoHotkey-JSON"]
	path = AutoHotkey-JSON
	url = https://github.com/cocobelgica/AutoHotkey-JSON.git
[submodule "AutoHotkey-XML"]
	path = AutoHotkey-XML
	url = https://github.com/cocobelgica/AutoHotkey-XML.git
[submodule "AutoHotkey-Expose"]
	path = AutoHotkey-Expose
	url = https://github.com/cocobelgica/AutoHotkey-Expose.git
[submodule "Class_Console"]
	path = Class_Console
	url = https://github.com/AfterLemon/Class_Console.git
[submodule "AHK_DllCall_WinAPI"]
	path = AHK_DllCall_WinAPI
	url = https://github.com/jNizM/AHK_DllCall_WinAPI.git
[submodule "jNizM_AutoHotkey_Scripts"]
	path = jNizM_AutoHotkey_Scripts
	url = https://github.com/jNizM/AutoHotkey_Scripts.git
[submodule "Plaster"]
	path = Plaster
	url = https://github.com/Shambles-Dev/Plaster.git
[submodule "Composer"]
	path = Composer
	url = https://github.com/Shambles-Dev/Composer.git
