#define IDD_DLG 1000
#define IDC_SPR1 1001
IDD_DLG DIALOGEX 6,6,397,244
CAPTION "Spread Sheet Demo"
FONT 8,"MS Sans Serif"
CLASS "DLGCLASS"
STYLE 0x16CF0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "IDC_SPR",IDC_SPR1,"SPREAD_SHEET",NOT 0x00830000|0x500007AF,0,0,396,233,0x00000200
END
