#define IDR_MENU 10000
#define IDM_FILE_OPEN 10001
#define IDM_FILE_SAVE 10002
#define IDM_FILE_SAVE_AS 10003
#define IDM_FILE_NEW 10039
#define IDM_FILE_EXIT 10004
#define IDM_EDIT_CUT 10005
#define IDM_EDIT_COPY 10006
#define IDM_EDIT_PASTE 10007
#define IDM_EDIT_DELETE_COL 10035
#define IDM_EDIT_DELETE_ROW 10008
#define IDM_EDIT_INSERT_COL 10010
#define IDM_EDIT_INSERT_ROW 10009
#define IDM_EDIT_COPY_CELL 10019
#define IDM_EDIT_BLANK_CELLS 10037
#define IDM_EDIT_EXPAND_CELL 10038
#define IDM_FORMAT_GLOBAL 10011
#define IDM_FORMAT_CELLS 10012
#define IDM_FORMAT_LOCK_YES 10020
#define IDM_FORMAT_LOCK_NO 10040
#define IDM_FORMAT_HIDE_YES 10041
#define IDM_FORMAT_HIDE_NO 10042
#define IDM_WINDOW_SPLIT_HOR 10014
#define IDM_WINDOW_SPLIT_VER 10015
#define IDM_WINDOW_CLOSE_SPLITT 10016
#define IDM_WINDOW_SPLITT_SYNC_YES 10021
#define IDM_WINDOW_SPLITT_SYNC_NO 10030
#define IDM_WINDOW_LOCK_ROW_YES 10017
#define IDM_WINDOW_LOCK_ROW_NO 10031
#define IDM_WINDOW_LOCK_COL_YES 10018
#define IDM_WINDOW_LOCK_COL_NO 10032
#define IDM_WINDOW_HEAD_COL_YES 10023
#define IDM_WINDOW_HEAD_COL_NO 10024
#define IDM_WINDOW_HEAD_ROW_YES 10033
#define IDM_WINDOW_HEAD_ROW_NO 10034
#define IDM_STYLE_VSCROLL 10025
#define IDM_STYLE_HSCROLL 10026
#define IDM_STYLE_STATUS 10027
#define IDM_STYLE_GRID 10028
#define IDM_STYLE_ROWSEL 10029
#define IDM_STYLE_CELLEDIT 10013
#define IDM_STYLE_GRIDMODE 10036
#define IDM_STYLE_COLSIZE 10043
#define IDM_STYLE_ROWSIZE 10044
#define IDM_STYLE_WINSIZE 10045
#define IDM_STYLE_MULTISEL 10046
#define IDM_HELP_ABOUT 10022
IDR_MENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open",IDM_FILE_OPEN
    MENUITEM "&Save",IDM_FILE_SAVE
    MENUITEM "Save &As",IDM_FILE_SAVE_AS
    MENUITEM SEPARATOR
    MENUITEM "&New",IDM_FILE_NEW
    MENUITEM SEPARATOR
    MENUITEM "&Exit",IDM_FILE_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Cut **",IDM_EDIT_CUT
    MENUITEM "&Copy **",IDM_EDIT_COPY
    MENUITEM "&Paste **",IDM_EDIT_PASTE
    MENUITEM SEPARATOR
    POPUP "&Delete"
    BEGIN
      MENUITEM "&Column",IDM_EDIT_DELETE_COL
      MENUITEM "&Row",IDM_EDIT_DELETE_ROW
    END
    POPUP "&Insert"
    BEGIN
      MENUITEM "&Column",IDM_EDIT_INSERT_COL
      MENUITEM "&Row",IDM_EDIT_INSERT_ROW
    END
    MENUITEM "C&opy Cell",IDM_EDIT_COPY_CELL
    MENUITEM SEPARATOR
    MENUITEM "&Blank Cell(s)",IDM_EDIT_BLANK_CELLS
    MENUITEM "&Expand Cell",IDM_EDIT_EXPAND_CELL
  END
  POPUP "&Format"
  BEGIN
    MENUITEM "&Global",IDM_FORMAT_GLOBAL
    MENUITEM "&Cells",IDM_FORMAT_CELLS
    POPUP "&Lock cell(s)"
    BEGIN
      MENUITEM "&Yes",IDM_FORMAT_LOCK_YES
      MENUITEM "&No",IDM_FORMAT_LOCK_NO
    END
    POPUP "&Hide cell(s)"
    BEGIN
      MENUITEM "&Yes",IDM_FORMAT_HIDE_YES
      MENUITEM "&No",IDM_FORMAT_HIDE_NO
    END
  END
  POPUP "&Window"
  BEGIN
    POPUP "&Splitt"
    BEGIN
      MENUITEM "&Horizontaly",IDM_WINDOW_SPLIT_HOR
      MENUITEM "&Vertically",IDM_WINDOW_SPLIT_VER
      MENUITEM "&Close Splitt",IDM_WINDOW_CLOSE_SPLITT
      POPUP "&Syncronize"
      BEGIN
        MENUITEM "&Yes",IDM_WINDOW_SPLITT_SYNC_YES
        MENUITEM "&No",IDM_WINDOW_SPLITT_SYNC_NO
      END
    END
    POPUP "&Scroll Lock *"
    BEGIN
      POPUP "&Top Row"
      BEGIN
        MENUITEM "&Yes",IDM_WINDOW_LOCK_ROW_YES
        MENUITEM "&No",IDM_WINDOW_LOCK_ROW_NO
      END
      POPUP "&Left Column"
      BEGIN
        MENUITEM "&Yes",IDM_WINDOW_LOCK_COL_YES
        MENUITEM "&No",IDM_WINDOW_LOCK_COL_NO
      END
    END
    POPUP "&Headers"
    BEGIN
      POPUP "&Column header"
      BEGIN
        MENUITEM "&Yes",IDM_WINDOW_HEAD_COL_YES
        MENUITEM "&No",IDM_WINDOW_HEAD_COL_NO
      END
      POPUP "&Row header"
      BEGIN
        MENUITEM "&Yes",IDM_WINDOW_HEAD_ROW_YES
        MENUITEM "&No",IDM_WINDOW_HEAD_ROW_NO
      END
    END
  END
  POPUP "&Styles"
  BEGIN
    MENUITEM "&Vertical scrollbar **",IDM_STYLE_VSCROLL
    MENUITEM "&Horizontal scrollbar **",IDM_STYLE_HSCROLL
    MENUITEM "Status &Window",IDM_STYLE_STATUS
    MENUITEM "&Grid",IDM_STYLE_GRID
    MENUITEM "&Row select",IDM_STYLE_ROWSEL
    MENUITEM "&Cell edit",IDM_STYLE_CELLEDIT
    MENUITEM "Grid &Mode",IDM_STYLE_GRIDMODE
    MENUITEM "Col width sizeing",IDM_STYLE_COLSIZE
    MENUITEM "Row height sizeing",IDM_STYLE_ROWSIZE
    MENUITEM "Splitt sizeing",IDM_STYLE_WINSIZE
    MENUITEM "Multi select",IDM_STYLE_MULTISEL
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
