#include "Res/SprDemoMnu.rc"
#include "Res/SprDemoDlg.rc"
#include "Res/SprCellFmtDlg.rc"
#include "Res/SprGlobalFmtDlg.rc"
#include "Res/SprGlobalFmtTab1Dlg.rc"
#include "Res/SprGlobalFmtTab2Dlg.rc"
#include "Res/SprGlobalFmtTab3Dlg.rc"
#include "Res/SprGlobalFmtTab4Dlg.rc"
#include "Res/SprGlobalFmtTab5Dlg.rc"
#include "Res/SprDemoVer.rc"
